body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-color: #50bfbf;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  
}

.headerBar{
    background-color: #85bf4b;
    min-height: 100%;
    padding: 1em;
    margin-bottom: 5%;

}

.headerBar a{
    font-size: 2em;
    padding: 2em;
    margin-top: 2em;
    
}

a{
    color: white;
}

a:link{
    transition: 1s;
    text-decoration: none;
}

a:hover{
    transition:1s;
    color: black;
    text-decoration: solid;
}

a:visited{
    color:white;
    text-decoration: none;
}
a:active{
    transition: 0.5s;
    color: black;
}

.page{
    transition: 0.5s;
    margin:auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
    max-width: 1920px;
    min-width: 280px;
    padding: 20px 20px;
    
}

.Goal{
    text-align: center;
    height:230px;
    width:80%;
    margin:auto;
    padding-top: 5px;
    padding-left: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: darkslategray;
}

.Goal h1{
    animation: fadeIn linear 2s;

}

.collapsible{
    transition: 0.5s;
    background-color:rgba(0,0,0.47,0);
    color: white;
    font-size: 2em;
    border:none;
    align-self:center;
}

.collapsible:hover{
    transition: 0.5s;
    background-color:#ccc;

}

.content{
    display:none;
    overflow: hidden;
    align-items: center;
    align-self: center;
    background-color:darkslategray;
    margin: auto;
    margin-right: 10px;
    border-radius: 1em;
}
.content p {
    font-size:medium;

}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.Goal .ProgressBar{
    width:95%;
    height:100px;
    background-color: beige;
    margin:auto;
    margin-bottom: 10px;
    border:10px solid rgba(0,0,0.47);
    border-radius: 25px;
}

.ProgressBar #myBar{
    width:1%;
    height:100%;
    background:linear-gradient(45.0deg,#33FF00 -17%,#D2F9C8 99%);
    animation:ease-in;
    color: black;
    font-size: 3em;
    text-align: center;
    line-height: 90px;
    border-radius: 15px;

}

@media (max-width:1200px){
    .page{
        transition: 0.5s;
        padding: 40px 40px;
        height: 1000px;
    
    }
    h1{
        font-size: 1em;
    }
    .Goal{
        width: 90%;
        font-size: 1em;

    }
    .Goal h1{
        font-size: 2em;

    }

    .collapsible{
        font-size: 1.5em;
    }
}

@media (max-width:800px){
    .page{
        transition: 0.5s;

        padding: 10px 10px;
        height: 1300px;
    
    }
    h1{
        font-size: 1em;
    }

    .Goal{
        width: 100%;
        font-size: 1.5em;

    }
    .Goal h1{
        font-size: 1em;

    }

    .collapsible{
        font-size: 1em;
    }
}